[2015-10-26 19:49] umlaeute opened #3 "qsortE infects entire FFTease with GPL"
the comments in `morphine~.c` mention that it is released under the GPL because it links to `qsortE` - and that the other objects are not affected by this.

this is actually not true.

technically, the shared library `libfftease` statically links in `qsortE`, which (due to the nature of the GPL) forces the entire shared library to be released under the GPL. since all fftease objects are dynamicall

[2015-10-26 19:52] umlaeute commented on #3
i think that the latter suggestion be easiest implemented by:
- `Makefile`: moving qsortE.c from SHARED_SOURCES to EXTRA_DIST (and remove the `qsortE()` symbol from `fftease.h`)
- `morphine~.c`: doing an `#include "qsortE.c"` somewhere at the beginning of the file.

it's not the most elegant solution, but certainly the easiest to implement with the current Makefile

[2015-10-26 20:00] umlaeute opened #4 "disarrain~ helpfile: [showstate( gives error"
when clicking on the `[showstate(` msgbox in `fftease32-helpfiles/disarrain~-help.pd`, I get a number (e.g. 25) of ugly error messages of the kind:

this is because `[pd showbins]` includes a msgbox referencing atoms from `$1` to `$70` (and the incoming message does not hold 70 atoms).

an error-free implementation would simply prepend `set` to the incoming list (of varying length):

[code]

(the

[2015-10-26 20:05] umlaeute opened #5 "burrow~: loadbanged "invert" has not effect"
the `[invert 1(` message loadbanged in the _burrow~-help.pd_ seems to have no effect.

at least toggling to `[invert 0(` sounds very much the same, but when I toggle back to `[invert 1(` the output changes.

[2015-10-26 20:07] umlaeute opened #6 "help-patches: use a looping soundfile-player? [wishlist]"
it would be great if the helppatches that need soundfiles as input would implement a sfplayer that is less awkward than the standard Pd `[readsf~]`.

e.g. something that allows for looping (if the soundfile chosen is short) or at least to replay without having to go through the file-selector dialog again.

[2015-10-26 20:08] umlaeute opened #7 "mindwarp~ helpfile crashes"
as soon as I switch the DSP on, `fftease32-helpfiles/mindwarp~-help.pd` crashes.

[2015-10-26 20:10] umlaeute commented on #7
my platform is: Debian/GNU linux (stretch/sid) **amd64**.

I'm fully aware that I'm running an unsupported platform.
However, i don't think that the issue is actually related to 64bit.

[2015-10-26 20:12] umlaeute opened #8 "enrich~: use of deprected array_getfloatarray"
enrich~ uses the long-deprecated `array_getfloatarray()` function to access tables.

it should use `array_getfloatwords()`.

[2015-10-26 20:14] umlaeute commented on #8
the difference between the two functions is that the former assumes that `sizeof(t_float)==sizeof(void*)` which is true on the i386 platform, but not necessarily on others (most notably, it is not true on x86_64).

I'm aware that *fftease3.0-32bit* does not support anything but i386.

Anyhow, please leave this ticket open, I will eventually submit a fix.

[2015-10-26 20:15] umlaeute opened #9 "pvwarpb~: use of deprected array_getfloatarray"
pvwarpb~ uses the long-deprecated `array_getfloatarray()` function to access tables.

it should use `array_getfloatwords()`.

[2015-10-26 20:15] umlaeute commented on #9
the difference between the two functions is that the former assumes that `sizeof(t_float)==sizeof(void*)` which is true on the i386 platform, but not necessarily on others (most notably, it is not true on x86_64).

I'm aware that *fftease3.0-32bit* does not support anything but i386.

Anyhow, please leave this ticket open, I will eventually submit a fix.

[2015-10-26 20:16] umlaeute opened #10 "residency_buffer~: use of deprected array_getfloatarray"
residency_buffer~ uses the long-deprecated `array_getfloatarray()` function to access tables.

it should use `array_getfloatwords()` instead.

[2015-10-26 20:16] umlaeute commented on #10
the difference between the two functions is that the former assumes that `sizeof(t_float)==sizeof(void*)` which is true on the i386 platform, but not necessarily on others (most notably, it is not true on x86_64).

I'm aware that *fftease3.0-32bit* does not support anything but i386.
Anyhow, please leave this ticket open, I will eventually submit a fix.

[2015-10-26 20:23] umlaeute opened #11 "disarray~: uses t_int as integer-type"
the `iswitch_count()` function uses `t_int` in a way that suggests it is meant to represent a numeric integer type. Pd does not have a "native" integer type (unlike Max).

`t_int` is actually reserved for the pointer array in the DSP-graph, it should not used as a generic type.
(and the `iswitch_count()` function is not used anyhow, so it should probably be just removed entirely)

[2015-10-26 20:33] ericlyon commented on #3
I always found the GPL's externalities annoying. Maybe the best permanent solution is to move in a non-GPL sorting algorithm eventually. But for now I don't mind what you suggest.

[2015-10-26 20:36] ericlyon commented on #7
I cannot replicate in pd 0.46.7. Would be great if you can find where it crashes in the code on your amd64.

[2015-10-26 20:38] ericlyon commented on #10
Agreed on all of this. When I last tried array_getfloatwords() I got lots of surprising failures, but this was a few years ago. Clearly a move to array_getfloatwords() will be required for the next version.

[2015-10-26 20:40] umlaeute opened #12 "(not) including m_pd.h"
i noticed that fftease3.0 includes an `m_pd.h` header file that is more than ten years old (it comes from _Pd-0.38_).

I would suggest to _not_ include the header-file at all, but instead use the header-files installed on the system.
- this would ensure that the header-file actually matches the version of Pd installed
- this would _allow_ people who would like to use a recent header file to actual

[2015-10-26 20:47] ericlyon commented on #11
Good point.

[2015-10-26 20:49] ericlyon commented on #5
I can confirm this malfunction, which will require some investigation.

[2015-10-26 20:50] ericlyon commented on #4
Yes, that feature was not available when I wrote that help file.

[2015-10-26 20:51] ericlyon commented on #6
I support that idea.

[2015-10-26 20:53] umlaeute commented on #7
[code]

if i remove the `[pvoc~]` object, the crash happens later (i think after i moved the mouse), which indicates that there is some memory corruption (which might get hidden away in certain circumstances). using `valgrind` or similar might help...

[2015-10-26 21:29] ericlyon commented on #7
There could easily be an undiagnosed memory access bug in do_mindwarp().

[2015-10-26 21:30] ericlyon commented on #12
That would be a change for the next major version of fftease. I would like to have one version that is guaranteed not to break when the header file changes.

[2015-12-08 10:03] boonier opened #13 "Output explodes and distorts on 0.46.7"
I've been having troubles with the latest Pd vanilla and FFTease 2.5.2 and also this latest version. Do you have any ideas, or recommendations on what to do?

Running on OSX 10.10.5.

Thanks

[2015-12-08 11:52] ericlyon commented on #13
Please send a specific patch, and precise explanation of what went wrong
and I will have a look. Also let me know what versions of Pd work for you.

Best,

Eric

On Tuesday, December 8, 2015, Si Mills <notifications@github.com> wrote:

[2015-12-08 12:17] boonier commented on #13
Hi Eric

Thanks, actually I've got another new issue. I've got my paths set up normally (afaiks), but I try to instantiate a thresher~ object and get an error:

[code]

I've tried in both 0.46.7 and 0.44 (extended).

The original problem of the output exploding was just on the basic help patch files (when it was loading correctly). Sorry I cannot be more specific!

Much thanks
Si

[2015-12-08 13:50] ericlyon commented on #13
I just did a quick test on OSX 10.11.1, Pd 0.46.7 and could not recreate
either issue. Perhaps you do not have the software correctly installed. I
recommend deleting any old copies of FFTease and try reinstalling from
scratch.

https://github.com/ericlyon/fftease3.0-32bit

Good luck!

Eric

On Tue, Dec 8, 2015 at 7:17 AM, Si Mills <notifications@github.com> wrote:

[2015-12-08 14:48] boonier commented on #13
OK I got it working. I had to rebuild the externals on my machine. There is a new libfftease.dylib file that is required, right? Also I had the old help files which probably didn't help!

Thanks for your help
Si

[2015-12-08 16:20] ericlyon commented on #13
Glad to hear that it worked out!

Eric

On Tue, Dec 8, 2015 at 9:48 AM, Si Mills <notifications@github.com> wrote:

[2015-12-08 17:29] boonier commented on #13
Ha cheers. Is the block size/overlap set differently now? The help patches
don't have the same mechanism

thanks

On 8 December 2015 at 16:20, ericlyon <notifications@github.com> wrote:

[2015-12-08 18:05] ericlyon commented on #13
First argument is the FFT size. Second argument is the overlap factor.
Defaults are 1024 and 8.

Best,

Eric

On Tue, Dec 8, 2015 at 12:29 PM, Si Mills <notifications@github.com> wrote:

[2015-12-09 09:53] boonier commented on #13
Nice! If I want to update the window sizes on the fly, what are the
messages to send to the object?

[fftsize 512, overlap 4( for example doesn't work.

Thanks

On 8 December 2015 at 18:05, ericlyon <notifications@github.com> wrote:

[2015-12-09 11:15] ericlyon commented on #13
Not an option in this version. Makes the objects more stable.

On Wednesday, December 9, 2015, Si Mills <notifications@github.com> wrote:

[2016-12-01 18:01] porres opened #14 "Not working in Pd Extended (42-5) or Vanilla (47-1) 32 bits mac os 10.12.1"
I also dont see a 64 bit version to test

[2016-12-01 21:17] ericlyon commented on #14
The 64-bit versions are not developed yet, since Pd 64-bit still does its audio processing in 32-bit floating point. 32-bit FFTease works fine for me on Mac OS 10.12, using Pd 0.47.1. You could always recompile the objects on your own system to hopefully get them to work.

[2017-01-16 16:22] porres commented on #14
I know pd isn't internally in 64 bits, but I'm talking about making the library available for vanilla users who use the vanilla 64 but version. And, by the way, this library is available in Purr Data, and that distribution is in 64 bits, so ecven though this is still a 32 bit processing library, it can be made available for Pd 64 bits.
cheers

[2017-01-16 18:08] ericlyon commented on #14
I'm quite happy for others to make FFTease available for 64-bit Pd variants. Purr Data is a great example of that. Since the library is open source, anyone is welcome to make their own deployments.

[2020-11-24 21:39] Lucarda opened #15 "64bit updates?"
Hi,

I'm trying to compile this for Windows 64bit and I _can_ but I get warnings in the Pd console like:

[code]

and when **closing** help patches while DSP is on I get crashes.

Is this nice lib intended to not support 64bit Pd's?

Would you accept PR's?

I can try changing the build system to pd-lib-builder.

[2020-11-24 22:14] porres commented on #14
I don't know how to make it available for Pd compiled for 64 bits (just to make a clear distinction here, I'm not talking about double precision). One way or another, I was testing this on the Pd 32 bit variant of Pd and also extended (which is only 32 bits) and it wasn't working.

Not that I care anymore as I'm now only using Pd compiled for 64 bit processors (again, not double precision). So I'm

[2020-11-24 22:15] ericlyon commented on #15
Greetings,

I haven't looked at Windows compilation in years, and my only Windows
laptop just died, so it's not something I can directly check into. I did
make a 64-bit compatible version a few years ago, though I did promote it,
since Pd at the time (and I think still) only does 32-bit computation in
its "64-bit" version. But have a look at this
<https://github.com/ericlyon/lyonpotpourri3.0> code

[2020-11-24 22:15] porres commented on #15
I don't think so as FFTease is available for Purr Data and that is compiled for 64 bit processors.

Let's just make a clear distinction as to not confuse @ericlyon - we are talking here about the binaries being compiled to run on Pd compled for 64 bit processors, we're not talking about double (64 bit) precision

[2020-11-24 22:24] porres commented on #15
Today, Pd should work ok if you compile it for 64 bits (double) precision, but that is still experimental. And, anyway, I missed your reply by a handful of seconds, but as I suspected, I think there's a confusion wether we're talking about double precision in audio computations. We're not! We just want this library to run in the Pd version compiled for 64 bit processors, even though it still does

[2020-11-24 22:34] ericlyon commented on #14
Yes, I understand. IIRC I successfully compiled the externals for Pd for
64-bit processors. I think the issue was that Miller had introduced a new
way of accessing arrays, and discontinued an older function call. Anyway,
I'm pretty sure the distro I shared has the code updates. At least I had it
working on Mac OS at one point.

Best,
Eric

On Tue, Nov 24, 2020 at 5:14 PM porres <notifications@gith

[2020-11-24 22:39] ericlyon commented on #15
Yes, I understand. IIRC I successfully compiled the externals for Pd for 64-bit processors. I think the issue was that Miller had introduced a new way of accessing arrays, and discontinued an older function call in Pd-64bit. Anyway, I'm pretty sure the distro I shared has the code updates. At least I think I had it working on Mac OS at one point.

In any case, the newer distro to check is here: ht

[2020-11-24 23:23] Lucarda commented on #15
Cool, all good!

I have uploaded to Deken `lyonpotpourri3.0` about an year ago and it is working Ok.

[code]

Here goes a Zip file if you want to include it on your Website:

[lyonpotpourri[v0.3]Windows64.zip](https://github.com/ericlyon/fftease3.0-32bit/files/5593345/lyonpotpourri.v0.3.Windows-amd64-32.Sources.zip)

:)

[2020-11-25 00:56] Lucarda commented on #15
Reopening.

I was having a chat with @porres.

I seem to got it wrong and thought lyonpotpourri3.0 was a newer replacement for fftease.

So there are plans for having fftease for 64bit ?

[2020-11-25 01:15] porres commented on #15
it's pretty simple and straight forward, if I can do it, anyone can :)

when we fork the repository and make changes, we can send code revisions as Pull Requests here on github and they're shown in https://github.com/ericlyon/fftease3.0-32bit/pulls

By the way, there's onde there from @umlaeute and you could check it and I think it's a no brainer to accept and merge, see https://github.com/ericlyo

[2020-11-25 01:46] ericlyon commented on #15
Just looked at that. I'd like to test out umlaeute's fork, but I couldn't
merge directly. There's some conflict that sends me to the command line:

git checkout -b umlaeute-more_nameclash_fixes mastergit pull
https://github.com/umlaeute/pd-fftease.git more_nameclash_fixes

After executing the second command, I got this error:
===
eric>git pull https://github.com/umlaeute/pd-fftease.git
more_namecl

[2020-11-25 08:17] umlaeute commented on #15
i've updated my PR so it can now be cleanly merged into *current*¹ `master`.

¹ *current* as of 25th of November 2020; i don't necessarily expect it to be mergeable cleanly in 5 years from now.

[2020-11-25 08:33] umlaeute opened #16 "suggested repository cleanups"
i think this repository is a great mess.
here's a few suggestion on how to improve it (and make it a joy to work with).
(i hope i'm not being to snarky)

- [x] rename repository to `fftease`
  - or - if you want to keep the Max/MSP source-base separate from the Pd sources - to `pd-fftease` or somesuch
  - use *git tags* for versions
  - strive to support 32bit and 64bit (and single- and double-pre

[2020-11-25 08:50] umlaeute commented on #15
btw (and just to make clear there is no confusion) my PR #2 (which just got included; wow @ericlyon that was very fast!) is unrelated to make fftease work on 64bit systems. (and there's still work to be done).

and while lyonpotpourri is in a better state (regarding 64bit pointers), it is also not fully ready yet.

it is *not* enough to just re-compile any of the two libs. code changes are require

[2020-11-25 09:02] umlaeute commented on #15
@Lucarda wrote

this is actually a duplicate of #8

[2020-11-25 09:06] umlaeute opened #17 ""make install" fails"
running `make install` fails when trying to install the help-files (as they are at some place where the Makefile doesn't expect them to be):

[code]

[2020-11-25 16:04] ericlyon commented on #15
Since there seems to be some interest in other people contributing to update FFTease for 64-bit Pd builds, first of all, that's great, and I'll support the effort. I'll also state my constraints, so that there are no misunderstandings. Max/MSP is my primary development platform in the Max/Pd world. The Pd versions of LyonPotpourri and FFTease are forks, offered to the Pd community in the hope that

[2020-11-25 16:29] porres commented on #15
cool, I guess we can send you PRs and hopefully there won't be any hassle in merging them, just clicking the button on the website. I can help testing, so can @Lucarda, and @umlaeute is the wizard who's also willing to send fixes. BTW, iohannes, you mentioned you would eventually send a fix to https://github.com/ericlyon/fftease3.0-32bit/issues/8, is there a chance you could do that soon? If not,

[2020-11-25 20:55] ericlyon commented on #16
You are.

No.

That is a good idea. fftease-pd would be a good name for a repo that supports both 32-bit and 64-bit.

Agree.

Abuse is in the eye of the beholder. I'm fine with removing the binaries, if they can be put somewhere else easily accessible to non-programmer Pd users.

Sounds good. I don't have time to do that.

Sounds good. I don't have time to do that.

Definitely agree with this one.

[2020-11-25 23:18] Lucarda commented on #16
@ericlyon there are things that we can do when we find time to do PRs but can you start renaming the repository to fftease-pd or pd-fftease. (I agree with @umlaeute that the latter is the standard but this is your lib)

[2020-11-25 23:47] ericlyon commented on #16
Done!

[2020-11-26 00:22] Lucarda commented on #16
Cool :)

Can you make an "initial release" ? (mainly a backup)

Go to "https://github.com/ericlyon/pd-fftease/releases" and use the button "Draft a new release".

Here give it a name ("initial release" is good enough for me)

Then you can add the a zip package with the macOS binaries that are currently on the folder "fftease32-externals"
There's an area where you can drop the zip file. The zip pac

[2020-11-26 00:33] Lucarda commented on #16
this pic shows an example of a release section:

![Untitled](https://user-images.githubusercontent.com/25239522/100294529-d06def00-2f65-11eb-8521-7b8ac42cbff6.png)

[2020-11-26 00:53] ericlyon commented on #16
Thanks! I just published a pre-release. I'll look into uploading the binaries, though it may make sense to wait until we can upload binaries compiled from the code after it has been updated.

[2020-11-26 01:12] Lucarda commented on #16
Ok no trouble. The macOS binaries are in the release (source) package you just created. That why we want this folder out of the repo.

[2020-11-26 01:14] ericlyon commented on #16
It's fine to remove the binaries from the source tree.

[2020-11-26 02:13] Lucarda commented on #16
@ericlyon see PR #18.

:)

[2020-11-26 04:32] Lucarda commented on #16
@ericlyon see #19 that finishes the clean up and includes [pd-lib-builder](https://github.com/pure-data/pd-lib-builder)

[2020-11-26 08:04] umlaeute commented on #16
closing this, as all my points have been implemented ;-)

thanks a lot!

[2020-11-26 08:04] #16 closed

[2020-11-26 08:05] umlaeute commented on #17
fixed with the merging of #19

[2020-11-26 08:05] #17 closed

[2020-11-26 08:05] umlaeute commented on #12
closed with #18

[2020-11-26 08:05] #12 closed

[2020-11-26 09:37] umlaeute opened #20 "all objects crash if you send a [dsp( message to them."
i can make all all objects (with the exception of `[smap]`) crash by simply sending them a `[dsp(` message.

e.g.:

[code]

[2020-11-26 12:28] #4 closed

[2020-11-26 12:28] #8 closed

[2020-11-26 12:28] #11 closed

[2020-11-26 12:28] #20 closed

[2020-11-26 12:28] #6 closed

[2020-11-26 12:28] #9 closed

[2020-11-26 12:28] #10 closed

[2020-11-26 12:57] umlaeute opened #22 "bogus blocksize/samplerate assumptions"
looking through the code, i noticed that fftease wrongly calculates the signal vectorsize and samplerate.

it uses `sys_getblksize()` and `sys_getsr()` which really give the *global* blocksize resp. samplerate.
this means that `sys_getblksize()` will always return `64` (unless somebody re-compiled Pd with a different default blocksize) and `sys_getsr()` will return whatever the user set in the aud

[2020-11-26 13:54] ericlyon commented on #22
Sounds like the blocksize is an easy fix. How do other Pd objects deal with SR changes inside a block~ subpatch?

[2020-11-26 15:00] umlaeute commented on #22
probably best check one of the objects that come with Pd, e.g. `[bonk~]`:

https://github.com/pure-data/pure-data/blob/c8af32521e9c723bfb2c83fbdd798b30461876f7/extra/bonk%7E/bonk%7E.c#L814-L820

seems to simply ignore the overlap factor, and uses `t_signal.s_sr` as is.

[2020-11-26 15:11] ericlyon commented on #22
Might as well use t_signal for both blocksize and sr, and check if it breaks anything.

[2020-11-26 15:13] ericlyon commented on #22
This issue revealed a problem in the Max/MSP version - downsampling in poly~ (similar to block~) results in unstable behavior, and possible white noise blasts. So please be careful with volume levels when investigating block~ operations. The fix in Max is to set
fft-> Nw = fft->N; in the initialization method. So far, I've only tested one MSP object, pvoc~. I'll investigate if this is a problem fo

[2020-11-26 15:22] umlaeute commented on #22
`[block~]` seems to initialize it's buffers with `sys_getsr()` (and the like).
the values then get updated in the `dsp` callback.

[2020-11-26 16:09] ericlyon commented on #22
I could not replicate the pvoc~/poly~ issue with other FFTease externals in Max. For now, I advise caution when testing FFTease objects with block~, and please report any anomalous behavior.

That issue aside, the recommended code improvement in this thread sounds like a good idea.

[2020-11-26 19:55] Lucarda commented on #15
@ericlyon  I'd built for Windows64-bit and the issues seems gone ('garray_getfloatarray while running 64-bit' and the 'crashes when closing help patches).

:)

I'd make a small PR #23 that moves xy window position of the help patches to a more user friendly area on standard screens.

Wow, it got merged as I write.

:)

[2020-11-26 20:24] ericlyon commented on #15
It's great that all of these improvements are happing so quickly. Thanks for the updates!

That said, the help files are still pretty terrible. They're more for testing the externals than actually explaining how to use them. That's something I may eventually work on.

[2020-11-26 20:27] porres commented on #15
I usually like working with help files :) I could help... maybe after all the new improvements, we could make it 3.0.1 or something?

[2020-11-26 20:47] ericlyon commented on #15
Thanks for the offer! I may make one example help file, just to suggest a format, and then it would be great if you'd like to run with that model. Stay tuned...

[2020-11-26 21:25] Lucarda opened #24 "[mindwarp~] Segmentation fault"
I get a segfault when closing “mindwarp~-help.pd” with DSP on (Debian 64bit builds)
[code]

On Windows64-bit I get a Pd crash (also when closing the patch).

I’ll try to give a proper GDB backtrace.

[2020-11-26 21:58] Lucarda commented on #24
This is what I get with gdb as soon as I load "mindwarp~.help.pd":
[code]

[2020-11-27 00:48] ericlyon commented on #24
Thanks for the report. That's smack in the middle of the FFT code - some of the most reliable, road-tested code in the package. My guess is that there's a memory fault elsewhere, and the gdb report is just an artifact. Possible causes might be bad data, or uninitialized parameters, and maybe a divide-by-zero somewhere. At least that's a place to start.

I do recall fixing some divide-by-zero bug i

[2020-11-27 01:20] Lucarda commented on #24
Ok :)

Three things before i go to sleep:

- You can attach anything inside a zip file and drag it to the comment you are writing (you can also edit your previous posts).

- I'm in kindergarten on C (but willing to learn).

- Intransigently if I create a new patch with an `[fftease/mindwarp~]` I can close the patch  and get no crash (tested only on Windows and with DSP on).

[2020-11-27 02:36] ericlyon commented on #15
@porres I'm attaching a sample help file here for drown~. The main criteria I'd suggest for good help files are:

1. FFTease icon at top left
2. Brief text description of object below icon
3. Every user-accessible method is shown and explained in the main patch
4. Logical breakdown into subpatches, for the more complicated objects

There are fairly good existing help files for the Max/MSP version

[2020-11-27 03:01] porres commented on #15
cool, I can get to it by xmas time ;)

[2020-11-27 18:41] #24 closed

[2020-11-27 20:14] Lucarda commented on #24
reopening.

It seems #25 was not a complete fix.

On Windows sometimes crashes Pd when closing the help patch and sometimes not.

On Linux is stil get (when opening the help patch) on gdb

[code]

and without gdb

[code]

[2020-11-27 20:28] Lucarda commented on #24
I think i spotted one:

https://github.com/Lucarda/pd-fftease/blob/9288890e1b27f3d4685102266f33cf651e3df048/mindwarp~.c#L73
`fftease_init(x->fft);`

should be:
`fftease_init(fft);`

I'll try :)

[2020-11-27 22:39] ericlyon commented on #24
Looks promising!

[2021-01-05 04:08] porres opened #26 "new help files"
hi, opening a new issue here instead of carrying it on in the other thread https://github.com/ericlyon/pd-fftease/issues/15

here's my take on "drown~". I'm using the "fftease/" prefix as usual in the Pd documentation. The other format people normally use (like in Purr Data, just open any cyclone object for instance and you'll see) folles the pddp project, with a text description of what all objec

[2021-01-05 04:26] porres commented on #26
Well, here's the patch and my final version. I have a "header" abstraction, that I plan to call on all help files. It can then be easily changed to affect all, when you have a new version, for instance, just make it "3.1"

[drown~-model.zip](https://github.com/ericlyon/pd-fftease/files/5768099/drown.-model.zip)

[2021-01-05 04:32] porres commented on #15
Well, this thread is now a bit too vague, about the last thing on the documentation, I created a new issue, see https://github.com/ericlyon/pd-fftease/issues/26

Now, what about the rest, where do we stand? What's the next step? I guess we can open new issues for each thingy...

[2021-01-05 04:33] porres commented on #15
@Lucarda , as you opened the issue, are you able to build just fine for windows?

[2021-01-05 04:38] Lucarda commented on #15
Yes. All is good exept i get a dup of issue #7

[2021-01-05 04:53] porres commented on #7
works on my macOS for Pd 64 bits

[2021-01-05 04:54] Lucarda commented on #7
The issue is triggered when the 3 inlet (mindwarp-shapew) receives a number grater than 4. At least this is where I get the crash.

I think I'd get that in Windows and Linux.

[2021-01-05 04:54] porres commented on #15
so we talk about it over there :)

[2021-01-05 05:00] Lucarda commented on #7
@porres I had closed #24 because it was too much for my C skills but may be you can give it a look to the code?

[2021-01-05 05:05] porres commented on #7
well, can you please reopen it then? :) probably best to create a new one and reference the old closed one in it

[2021-01-05 05:06] porres commented on #7
well, if we open a new one, we can also close this, as this of course is also a bug report on that object...

[2021-01-05 05:16] ericlyon commented on #26
Thanks. This helpfile design model works for relatively few messages of drown~, but may need subpatches when there are more options (like pvtuner~). I like the "Gain DSP" abstraction. One issue I had is that the "fftease/" prefix did not work for me. The object only loaded when I removed the prefix. I understand the need to disambiguate 3rd party objects against possible name clashes. In the Max d

[2021-01-05 05:25] ericlyon commented on #26
For a hop size of 256 and FFT size of 2048, 8 would also be the overlap factor.

[2021-01-05 05:26] porres commented on #26
yup, I'm aware, and you made that remark on your general notes, so it's fine, I'm also very good at organzing things in subpatches :)

for a while now there's a convention that we use ~/documents/pd/externals as the place to put externals. And that folder is one that Pd automatically searches on. So if you have the 'fftease' folder there, the prefix works. But anyway, this convention is old and da

[2021-01-05 05:28] porres commented on #26
yeah, I'm just confused about this and was about to open a report for this. I thought the argument was hop size, not overlap. I guess I just got it wrong and need to fix it.

[2021-01-05 05:32] porres commented on #26
here it is. Anyway, next time I'll just take a better look into the code and ask before if I have questions :)

latest revision:

[help-model.zip](https://github.com/ericlyon/pd-fftease/files/5768310/help-model.zip)

[2021-01-05 05:42] ericlyon commented on #26
The directory update worked.  I guess that should be mentioned in the new installation instructions, which will need to be updated in any case. That being said, please continue with the help file model you proposed, and let me know if any questions arise. Thanks!

[2021-01-05 06:11] ericlyon commented on #7
I cannot reproduce this crash. I tried a warp factor up to 16.0 (the maximum) with the expected sonic result and no crashes. Are you using the provided mindwarp~ help file? If not, maybe there's something different about the way you're using mindwarp~ that exposed a bug. If so, please share your Pd patch.

[2021-01-05 06:15] Lucarda commented on #7
Yes.
I'll try again may be later. My tests were on Windows and Linux.

[2021-01-05 06:44] ericlyon commented on #7
I meant shapewidth [inlet 3] (not warpfactor) above. That seems to be the troublesome parameter, though in the code it looks pretty well protected.

[2021-01-06 01:32] porres commented on #26
ok, I'll keep this open so I can eventually ask questions and in the end I'll send a Pull Request

[2021-01-06 03:40] porres commented on #26
Here we go. Still about [drown~]. It says "In adaptive mode, the threshold is determined relative to each FFT frame peak.". Ok, but what about non-adaptive mode? What happens then?

[2021-01-06 03:54] porres commented on #26
And now... [thresher~]. It has a "synthresh" message, what is it for?

I also don't get what "oscbank" does and what is the unit of the "transpose" parameter.

For last, why does [drown~] have a "fftinfo" method, but not thresher~?

[2021-01-06 19:16] porres opened #27 "burrow~ invert message at creation"
if you have a loadbang setting the invert message to 1, it doesn't work. You have to wait a little until setting this in order for it to work

[2021-01-06 20:07] ericlyon commented on #27
This seems to be true for other messages as well. Same thing for "mute." I don't see any issues in the code, and the corresponding loadbang initiation works correctly on Max/MSP. Perhaps, for whatever reason, the loadbang triggers its message before the receiving object is instantiated. I don't have time to test right now, but it's worth checking to see if this issue occurs with the other FFTease

[2021-01-06 20:45] porres commented on #27
Ok, I can check for solutions on the code later, but right now I'm working on the docs ;)

[2021-01-06 20:45] ericlyon commented on #27
A "pipe 0" after the loadbang solves the problem.

[2021-01-06 21:10] ericlyon commented on #27
Looks like there was an initialization bug in the code. I'll try to figure out how to upload a new version soon.

[2021-01-06 21:13] ericlyon commented on #27
Done. There's a diagnostic post() message in the code. I'll take it out soon, if no new problems were introduced.

[2021-01-06 21:21] ericlyon commented on #26
In that case, the threshold is absolute - any bin values that fall below the threshold are multiplied by the drown factor.

[2021-01-06 21:26] ericlyon commented on #26
Generally, that would be the threshold for synthesis. I guess bins that fall below that threshold don't get synthesized. But I'll have to check the code to be sure.

"oscbank" engages an algorithm that makes "instantaneous" frequency measurements per-bin, after which each bin is resynthesized with its own cosine oscillator. (Ordinarily, synthesis is done with an inverse FFT.)

The "transpose" fact

[2021-01-07 02:52] porres commented on #26
Cool, I get it all now.

sounds like it, and I see it only works for the 'oscbank' mode

[2021-01-08 03:46] porres opened #28 "pvwarp~ bottomfreq/topfreq not working when DSP is off"
these messages need to know Pd's sample rate and that is only obtained by the object if the DSP is on. So if you create the object and try to set it without the DSP on, it just gives an error.

What we need to do is get Pd's sample rate at creation time. I already did this here and could send a PR later.

[2021-01-08 19:43] ericlyon commented on #28
Excellent, thanks!

[2021-01-08 19:56] ericlyon commented on #26
I just updated thresher~ with the "fftinfo" method.

[2021-01-11 17:52] porres commented on #15
@Lucarda, can we close this issue then?

And if so, I think we can have some builds and upload them to deken. I could open a new issue about uploading but I'll keep it here for now. One thing is that it seems there are still fixes to be made, such as #7 mentioned here, so maybe we want to settle that before we can say the build is over and make the release to deken?

I guess we'll always find bugs

[2021-01-11 17:56] porres opened #29 "remove "32-bit" from all "/* Pd 32-bit FFTease 3.0 */" header comments in the code"
this was already done in https://github.com/ericlyon/pd-fftease/commit/4cd2b4511c6b17e72c8a46ad7224e0bf6da43e19

I can make a PR for this later

[2021-01-11 17:57] porres commented on #27
This issue seems to be a duplicate of https://github.com/ericlyon/pd-fftease/issues/5

we can close the old one (and keep this open until you remove that post() message (I could do that later as well)

[2021-01-11 18:09] ericlyon commented on #15
That is correct.

Good idea. I'll need to update the welcome text, before that's ready to go. Also, would want to address any issues about documenting installation procedures.

Thanks!
Eric

[2021-01-11 18:12] ericlyon commented on #29
Thumbs up.

-E

[2021-01-11 18:12] ericlyon commented on #27
Sounds like you're on a roll, so you're welcome to remove that post message if you like :)

[2021-01-11 18:33] porres commented on #27
I can't :) only iohannes who opened that old one can close it or you... unless you give me some superpowers and I don't know how you can do that

[2021-01-11 18:36] porres commented on #27
not sure if it's clear in my joking tone, but it is possible I join as a collaborator and be granted such powers, I just have no idea how it works

[2021-01-11 19:40] ericlyon commented on #27
Of course. I know next to nothing about how to use Github, so I'm not sure what I need to do, if anything. Are you not able to submit Pull Requests right now?

[2021-01-12 04:43] Lucarda commented on #15
This issue can be closed. #7 is the main "Show stopper" for a Deken release.

[2021-01-12 04:43] #15 closed

[2021-01-12 04:48] ericlyon commented on #7
As I understand it, this bug presents on Windows and Linux, but not on macOS. I seem to recall that macOS can be a bit more forgiving about memory errors. So I would look in the code for accessing an array with an out-of-range index. I didn't see anything obvious, but have not looked very closely. Those of you on Windows or Linux are in a better position to locate and squash this bug.

[2021-01-12 10:41] umlaeute opened #30 "mindwarp~ segfaults"
basically re-opening #24 as a new issue, as it still crashes.

so i looked at the code, and `do_mindwarp` looks very suspicious:

https://github.com/ericlyon/pd-fftease/blob/c7726fc1a27c84e58b8e0122549bbbf3c9758518/mindwarp%7E.c#L214-L224

so we access the `newChannel` and `channelOne` arrays at `i+j` with `i=0..N` and `j=0..(shapeWidth*2) = 0..(N2*2) = 0..N` (in the worst case), which means that

[2021-01-12 10:45] umlaeute commented on #30
as a quick test: if i comment out the actual [shaping code](https://github.com/ericlyon/pd-fftease/blob/master/mindwarp%7E.c#L214-L267), i get no more crashes.

obviously, this breaks the functionality of the object.

[2021-01-12 12:54] ericlyon commented on #30
Nice catch, thanks. The solution will be to allocate sufficient memory for worst case access for all arrays currently subject to this out of bounds bug. Please give that a try, and submit a PR if that eliminates the crashes, while maintaining object functionality.

[2021-01-12 13:33] umlaeute commented on #30
that's easy enough with `newChannel`, but i'm not so sure whether that's a good idea with `fft->channel`.

[2021-01-12 13:59] ericlyon commented on #30
Agreed. A better solution would be to copy fft->channel to a new array that has sufficient memory, ideally stored in the object structure. Please let me know if you'd like to try that. Otherwise, I can update the code, but since I'm working on macOS, I won't be able to confirm when the problem has been fixed. Someone would have to try my solution on Linux or Windows.

[2021-01-12 14:15] umlaeute commented on #30
i can try that.

as you know the code better than me: would i just set the extra elements to zero?

something like this?

[code]

[2021-01-12 14:41] ericlyon commented on #30
Yes, that looks good, thanks! If I understand your solution, *channelOne would now be an object structure variable, rather than assigned through dereferencing, as in the current code. So, there would be the additional work of adding *channelOne to the object structure, allocating memory for it in mindwarp_init(), and deferencing *channelOne from the object structure, rather than from fft->channel

[2021-01-12 14:50] #7 closed

[2021-01-12 14:50] #22 closed

[2021-01-12 14:50] #29 closed

[2021-01-12 14:50] #30 closed

[2021-01-12 14:51] umlaeute commented on #13
@ericlyon can this issue be closed? (if so, just click on the <kbd>Close issue</kbd> button at the end)

justification:
- ["got it working"](https://github.com/ericlyon/pd-fftease/issues/13#issuecomment-162904557)
- issue not reproducible in the first place

[2021-01-12 14:52] #13 closed

[2021-01-12 14:53] umlaeute commented on #14
it seems that this discussion disgressed into a duplicate of #15 .

however: what about the original issue which is:

???

[2021-01-12 14:56] ericlyon commented on #14
Maybe this issue should be closed?

[2021-01-12 15:04] umlaeute opened #32 "repository cleanup"
i guess it's time to remove the "pr/1" branch:
- navigate to https://github.com/ericlyon/pd-fftease/branches
- click the trashbin icon <kbd>🗑️</kbd> besides the "pr/1" branch
- confirm

the webinterface indicates that there are 3 unmerged commits, however:
- 255b7735b990c2b18f375ea5d25df10b3f6adb47 and 1cda1734d72b11b90f8d00e8cfc92aca0ff9c6a8 are only merge commits from the `master` branch (and ar

[2021-01-12 15:32] umlaeute commented on #14
@porres ^^^

[2021-01-12 15:36] ericlyon commented on #32
Done!

[2021-01-12 15:36] #32 closed

[2021-01-12 16:10] #14 closed

[2021-01-12 16:11] porres commented on #5
@umlaeute we can close this one too

[2021-01-12 16:13] umlaeute commented on #5
shouldn't we instead close #27, which is a duplicate created 5 years and doesn't add much additional info?

[2021-01-12 16:16] porres commented on #5
both are to be closed as there's already a solution, the other is still open just because in the discussion we have a reminder to pull out a post message

[2021-01-12 16:20] ericlyon commented on #5
I just removed the post() message, so feel free to close the issue.

[2021-01-12 16:22] porres commented on #5
cool, I you could just close both as well @ericlyon  :)

[2021-01-12 16:22] #27 closed

[2021-01-12 16:32] ericlyon commented on #5
Just trying to give people space to do whatever :)

[2021-01-12 16:32] #5 closed

[2021-01-12 17:18] porres commented on #3
now that we're heading to an official 3.0 release and upload to deken, I guess we should take care of this thing also. By the way, Pd uses a sorting algorithm in [text define], maybe we can use that?

[2021-01-12 17:30] ericlyon commented on #3
Sounds like a good idea. Would you like to try updating the code?

[2021-01-12 21:31] porres commented on #28
check out https://github.com/ericlyon/pd-fftease/pull/33 it fixes this, I tested and it seems fine

[2021-01-12 21:31] porres commented on #3
I can check tonight and see if it's easy for me. There's a sorting algorithm we also use in cyclone that I'm more familiar with

[2021-01-12 21:40] Lucarda commented on #15
Just to inform here that I compiled (as of 5cab997) on Windows64 and #7 is fixed (no crashes on mindwarp~ help). Also going through all help patches I get no errors/warnings in the console.

:)

[2021-01-12 22:45] #28 closed

[2021-01-13 02:07] porres commented on #3
yeah, it's a bit over my head, actually. So, here's the [text define] sort: https://github.com/pure-data/pure-data/blob/master/src/x_text.c#L488

the sort algorithm we used for cyclone is also found here for this object in my library https://github.com/porres/pd-else/blob/master/Classes/Source/sort.c

Both algorithms above also sort text, and I guess you just need to sort floats, right? So, then y

[2021-01-13 02:21] ericlyon commented on #3
Worst case might be what @umlaeute suggested above, to avoid GPL infection.

[2021-01-13 02:26] ericlyon commented on #3
That being said, it's just a simple sort requirement. I don't see that it needs to be super efficient as long as it gets the job done. Maybe that's the solution - something simple like the bubble sort, or whatever. After all, the sort only gets called once per FFT frame, and it's not sorting a huge number of elements.

[2021-01-13 02:27] porres commented on #15
cool, I already have a macOS build which is basically ready for a deken release => https://github.com/porres/pd-fftease/releases/tag/v3.0-0

I guess we only need to maybe change and update the readme and change/deal with the license because of https://github.com/ericlyon/pd-fftease/issues/3 but the binaries builds are fine

[2021-01-13 02:28] porres commented on #3
yeah, right! but I couldn't follow that either :)

[2021-01-13 02:36] ericlyon commented on #15
There are still some externals missing the "fftinfo" message. It would be good to get them updated so that the package is consistent. We will require an update on the readme, which I'll take care of. Also specific installation guidelines. Also, we need to remove the GPL dependency before publication. Also, need to get a full set of new help files. But lots of good progress so far. Thanks!

[2021-01-13 02:55] porres commented on #15
As the one onboard with the new help files, it'll just take a while as I wanna really turn the all inside out, and i'm sure many bugs and issues will pop out then. A couple aklready emerged and we took care of that and I was also aware fftinfo was missing in other externals, for instance.

I just think this is good enough and we could upload this as it so it is not too divergent from what's alread

[2021-01-13 03:00] ericlyon commented on #15
I'm fine with moving forward before you complete the deluxe new version of the help files. That being said, some of the help files are a mess, and I'd like to get them cleaned up before a new release.

[2021-01-13 03:49] porres commented on #15
agreed, I thought about making a not so deluxe version, but I have a hard time doing such things and not going to the full extent. But I could give it a shot and work on something that's better quickly.

[2021-01-13 03:49] porres commented on #15
and not far from max's help

[2021-01-13 04:01] ericlyon commented on #15
That would be awesome, thanks!

[2021-01-13 04:04] ericlyon commented on #3
I'll look into it then.

[2021-01-13 08:49] ericlyon commented on #3
I updated the code with a custom implementation of the quicksort algorithm. It seems to work properly, and also seems to be slightly more efficient than the GPL code that was replaced. The next step will be to remove "qsortE.c" from the distro, and from any makefiles where it appears. FFTease no longer wears GPL handcuffs.

[2021-01-13 17:58] ericlyon opened #34 "Question about copyArray function in mindwarp~"
I just noticed that a new function was introduced, "copyArray." Looks like it's copying the array, and attempts to zero-pad. Not sure why zero pad values are set to 1.0, rather than 0.0 - looks like a bug.

In any case, I advise against using this function callout, as opposed to keeping the code within do_mindwarp(), since there may be a loss of efficiency in the function call. For improving effic

[2021-01-13 20:21] porres commented on #3
awesome, please close this issue then

[2021-01-13 20:39] #3 closed

[2021-01-13 21:38] Lucarda commented on #34
I think this question is directed to @umlaeute . (@ericlyon we have mention someone so the he/she gets email notification. Otherwise only people that read this are the "Watchers")

[2021-01-13 22:49] umlaeute commented on #34
thanks @Lucarda :-)
@erikd you probably should read a bit [on markdown](https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/basic-writing-and-formatting-syntax#quoting-code) in order to format the code in a way that makes it fun to read :-)

about the problem at hand:
- yes that's a bug, the value should be set to `0.` rather than `1.`
- regarding optimisation: that would be a

[2021-01-13 23:09] erikd commented on #34
@umlaeute You probably should ping @ericlyon rather than me.

[2021-01-14 00:31] porres commented on #26
So, a modest version of what I wanna do is available at https://github.com/ericlyon/pd-fftease/pull/35

but let's keep this issue opened as I still wanna do a deeper revision

[2021-01-14 00:36] porres opened #36 "to do list for an official 3.0 release"
Just opening this to see what is it that we have on a "to do" list before uploading an official release, feel free to edit this comment.
- Complete the readme, with full instructions for installation
- Possibly recast the Readme file in .md format for better look
- Provide pre-compiled externals for macOS, linux, and windows

[2021-01-14 01:39] ericlyon commented on #34
Thanks @umlaeute for the clarification. My concern was less about optimization (I wasn't actually planning to do anything about it), but more about complexifying the code unnecessarily for anyone who's trying to understand how it works by adding a function call, rather than doing relatively simple work inside the do_mindwarp() function. That may be a matter of programming style preference - I like

[2021-01-14 01:53] ericlyon commented on #26
Thank you @porres - these look great! I have one question though, about the extra copy of the object at the top of each help file. It's a nice look, but wouldn't that incur additional computation by having two copies of the object in the help file? Some of the FFTease objects can be costly in CPU even when there's no signal input. Maybe an inline GIF would be better, though that might be work for

[2021-01-14 02:35] ericlyon commented on #26
Further to this, I noticed that the bare mindwarp~ object in the help file sends an annoying stream of error messages since its warp factor is zero, unless controlled by an input float or signal. I'll post an update to mindwarp~ that fixes this issue, but we should try all of the new help files with the DACs turned on, to make sure that other similar issues are not revealed.

There's definitely so

[2021-01-14 02:54] ericlyon commented on #34
The code has now been updated. Thank you @umlaeute for discovering the bug and providing the initial fixes.

[2021-01-14 02:54] #34 closed

[2021-01-14 02:59] ericlyon commented on #36
#34 is fixed. I'll work on the readme. Let me take a moment to thank everyone who contributed to this update. There's no way I would have had time to do this project on my own. It's great that we've discovered and fixed some long-standing bugs. I've migrated these bug fixes back to the Max/MSP versions. Everybody wins :)

 @porres @umlaeute @Lucarda

[2021-01-14 03:27] Lucarda commented on #26
With the lib built on Win64 as of 7682c35 I get this in the Pd console opening the help patches with DSP on:

[code]

[2021-01-14 03:35] ericlyon commented on #26
The codepend~ warning catches a typo in the help file - 1028 is an illegal FFT size. It should be 1024.

[2021-01-14 03:38] ericlyon commented on #26
The mindwarp~ warning should be gone in the most recent version of the code as of 57667df.

[2021-01-14 03:40] ericlyon commented on #26
pvwarpb~ - in the help file, bare object at top, replace "buf" with "pvwarpb-array."

[2021-01-14 03:51] ericlyon commented on #26
enrich~ - in bare object at top, replace "buf" with "enrich-buffer."

[2021-01-14 03:52] ericlyon commented on #26
Similar solutions for pvwarpb~ and residency_buffer~

[2021-01-14 04:01] Lucarda commented on #26
I'm building the latest 7682c35 and the `"mindwarp~: zero warp factor is illegal"` error is still there on the console while DSP is on.

[2021-01-14 04:04] porres commented on #26
you're welcome :)

Yes it would. I'm not married to that and I don't really use that in my help files of cyclone and ELSE, but it's a common standard that I was just trying to replcate.

Yeah, I'm up for a different design for the future. We can pass the name of the object as an argument to the [icon] abstraction. I made a couple of tests.

<img width="219" alt="Screen Shot 2021-01-13 at 16 30 42"

[2021-01-14 04:05] porres commented on #26
you're welcome :)

Yes it would. I'm not married to that and I don't really use that in my help files of cyclone and ELSE, but it's a common standard that I was just trying to replcate.

Yeah, I'm up for a different design for the future. We can pass the name of the object as an argument to the [icon] abstraction. I made a couple of tests.

<img width="548" alt="Screen Shot 2021-01-14 at 01 04 01"

[2021-01-14 04:09] ericlyon commented on #26
@porres - the new proposed model is great! I have a slight preference for the "bthresher~" design.

[2021-01-14 04:12] porres commented on #26
but both designs are the same :) I'm just passing the name of the object as an argument. I tested with residency_buffer~ because that's the longest object name, to see if it fits. All the others will seem justified to the left.

[2021-01-14 04:12] porres commented on #26
Oh, I guess I know what you mean, about the positioning, right?

[2021-01-14 04:13] ericlyon commented on #26
Correct. The bthresher~ positioning style looks the best.

[2021-01-14 04:14] ericlyon commented on #26
@Lucarda - I could not reproduce the mindwarp~ message with the most recent version. That error message literally no longer exists in the code. Is it possible you're loading an older version of the external?

[2021-01-14 04:14] porres commented on #26
So, sometimes that will depend on how the window is filled, if it has too much text or information, I will have the tendency to fit things together in a way that doesn't waste any of the window's real state :)

But I can force that standard

[2021-01-14 04:15] ericlyon commented on #26
@porres I leave it to your aesthetic judgement. Thanks!

[2021-01-14 04:16] porres commented on #26
I'm fixing the documentation issues...

[2021-01-14 04:21] porres commented on #26
this will be a separate issue, but I think you should allow all objects to be created without any arguments. Some objects here have mandatory arguments and then you can't create the object. In Max, that doesn't prevent you from opening the help file so you know what you have to do, but in Pd you can't do it and I don't think it's a good idea.

[2021-01-14 04:23] ericlyon opened #37 "Instantiation without arguments"
this will be a separate issue, but I think you should allow all objects to be created without any arguments. Some objects here have mandatory arguments and then you can't create the object. In Max, that doesn't prevent you from opening the help file so you know what you have to do, but in Pd you can't do it and I don't think it's a good idea.

_Originally posted by @porres in https://github.com/er

[2021-01-14 04:35] Lucarda commented on #26
Yes my bad. I was opening the newer help patches but had and older "documents/Pd/externals/fftease" laying around that got loaded.

[2021-01-14 07:53] umlaeute commented on #34
@erikd oops indeed. so many eriqs around :facepalm: sorry for the noise

[2021-01-14 07:58] umlaeute commented on #36
btw, if you want a TODO-list for the next release, you should look gitub's [milestones](https://github.com/ericlyon/pd-fftease/milestones/) feature, which allows you to easily attach issues to common target.

[2021-01-14 12:55] ericlyon commented on #36
Thanks for the suggestion. Milestones look a bit more complicated than a todo list. That being said, I'm willing to consider using milestones, if it makes the development process easier for people. For now, let's focus on getting this release out the door, and then we can return to the question.

[2021-01-14 14:05] umlaeute commented on #36
your call.
milestones are simple insofar as you can just associate any issue you want with one (or more) milestones, so the TODO-list automatically grows (and shrinks) as new issues show up.

but it's really up to you, and if you find them too tedious then best leave them.

[2021-01-14 14:34] ericlyon commented on #36
Cool. We can give milestones a try after this release, and see how people like them.

[2021-02-04 02:22] ericlyon commented on #36
Can anyone provide a Windows 10 build of these externals that can be attached to the release as an asset?

[2021-02-04 02:44] porres commented on #36
@Lucarda surely can ;)

[2021-02-04 04:13] ericlyon commented on #36
Excellent. Could we get a Linux build too? Once those assets are in place, I'll make a proper announcement on the Pd list and we can go from there. Maybe have a look at pd-lyonpotpourri next. I'm teaching with Pd this semester, so it would be cool if my students could actually use some of my externals :)

[2021-02-04 09:30] Lucarda commented on #36
@ericlyon [click here](https://nc.nubegris.com.ar/index.php/s/YiqfEfMSC9FmJQQ) to download builds for Windows/Linux 32/64 (4 builds).

Notes: May be there's a way to update the help patches of the following objects so that we don't get errors in the console when DSP is on:

[code]

Cool. I have uploaded to Deken Win64 builds (and they are working):

[code]

[2021-02-04 10:36] umlaeute commented on #36
very minor nitpick: could we talk about `i386` (or i686; or x86_32) resp. `amd64` (or x86_64) rather than just *32* or *64*.
there are *many* different 32bit and 64bit platforms (think arm; but there's many many more)

[2021-02-04 10:39] Lucarda commented on #36
@umlaeute Ok. I'll try to update my mind. :)

[2021-02-04 10:41] umlaeute commented on #36
are you sure?
looking at the source code, there should be a problem with the `[vdp~`] object (esp. the `copy_to_buffer` message).

however, this should be tracked in https://github.com/ericlyon/pd-lyonpotpourri

[2021-02-04 10:43] Lucarda commented on #36
hmm no, not sure. IIRC I tested all objects and they were Ok. I may have to re-test them.

[2021-02-04 12:13] Lucarda commented on #36
I did a quick check on Win(amd64) and the [vdp~] object does not throw errors to the console and it works.

Here is the console after opening all help patches:

[code]

[2021-02-04 12:31] umlaeute commented on #36
@Lucarda see https://github.com/ericlyon/pd-lyonpotpourri/issues/4

should we remove all the comments since (and including) https://github.com/ericlyon/pd-fftease/issues/36#issuecomment-773210384 ?

[2021-02-04 12:33] Lucarda commented on #36
yes

[2021-02-04 14:05] ericlyon commented on #36
The repeated error messages to console have been fixed in enrich~. I'll need to update the other two objects similarly. The helpfiles will require separate attention.

[2021-02-04 23:35] ericlyon commented on #36
enrich~, pvwarbp~, and residency_buffer~ have been updated. The codepend~ help file has been updated. Good finds here, hopefully now fixed.

[2021-02-05 19:16] Lucarda commented on #36
Cool. The new Windows and Linux binaries are [here](https://nc.nubegris.com.ar/index.php/s/ZY6W6XM9C2oQQ7r).

I think this is ready for a release. The only (really minor) thing is that we get this errors in the help patches:

[code]

This can be fixed including an [array buf 10000] in those help patches but that will pollute the nice and clean work by @porres so If anyone ask me: this is ready to

[2021-02-05 20:55] ericlyon commented on #36
New binaries added to release. Thanks, @Lucarda. I think the help files could all be fixed by replacing "buf" with the existing arrray in each of those help files. Hopefully that wouldn't be too aesthetically unpleasant.

[2021-02-05 21:00] ericlyon commented on #36
Let's toss this around for the weekend, and see if any last-minute issues emerge. If not, I'll announce the release to the Pd list on Monday. Thanks again, everyone, for all of your contributions to this project. Once release is out, I invite you to turn your attention to pd-lyonpotpourri.

[2021-02-05 21:24] Lucarda commented on #36
All good.

Probably you should familiarize with Deken(1) so that we can install fftease via Pd's menu: help / find externals.

Count me in. :)

(1) https://github.com/pure-data/deken/blob/master/developer/README.md

[2021-02-05 22:02] porres commented on #36
hey, these help files issues have been updated and fixed for a while, you don't seem to have the updated version @Lucarda

[2021-02-05 22:05] porres commented on #36
I tested all files and I get "mindwarp~: zero warp factor is illegal"

[2021-02-05 22:21] Lucarda commented on #36
Strange I used the master branch as of 5da7a7d.

Could not replicate on Windows or Linux.

[2021-02-05 22:30] ericlyon commented on #36
I could not replicate on MacOS Catalina.

[2021-02-05 22:37] ericlyon commented on #36
@porres, I'm also seeing the same issue on what I'm pretty sure is the current master :) That is, the enrich~ help file has "buf" as the argument for the top copy of enrich~. Would a new pull request solve this?

[2021-02-06 00:11] porres commented on #36
Ok, so I had changed it in my fork and did not make a Pull Request, so here it is now https://github.com/ericlyon/pd-fftease/pull/39

[2021-02-06 00:19] porres commented on #36
I recompiled and tested all help files now with DSP On and see no issues!

[2021-02-06 00:31] porres commented on #36
I can upload it all to deken

I think we need to make a new tag release here https://github.com/ericlyon/pd-fftease/releases

It seems safe now that we have a release, so we can upload the binaries there and also to deken, but maybe make a few tests before uploading to deken and announcing it.

[2021-02-06 00:53] Lucarda commented on #36
I know there's nothing relevant on the c files after 5da7a7d but I will recompile and test anyway and give new win/linux binaries.

[2021-02-06 01:30] Lucarda commented on #36
@porres can you change these:

- bthresher~: does not have the object at top-right (near the description)
- multyq~: has an empty/uncreated object
- pvharm~: font size
- pvwarp~: font size and screen xy

[2021-02-06 02:09] porres commented on #36
changed, see https://github.com/ericlyon/pd-fftease/pull/40

not really sure what you meant by "xy"

[2021-02-06 02:12] Lucarda commented on #36
Window position. On my screen is too far right. The other patches are more to the left.

[2021-02-06 02:22] porres commented on #36
how is  it now?

[2021-02-06 02:45] Lucarda commented on #36
Nice :)
I'll make new linux/windows build pkgs.

[2021-02-06 03:47] Lucarda commented on #36
@ericlyon

The linux/windows builds (as of aa031e8) are [here](https://nc.nubegris.com.ar/index.php/s/PnNNT6g9ygWxHNw)

[2021-02-06 03:49] ericlyon commented on #36
Thanks. The release has been updated with these binaries.

[2021-02-06 13:53] porres commented on #36
Hi, it seems you uploaded the binaries to https://github.com/ericlyon/pd-fftease/releases/tag/v3.0.0-alpha

See that is an old state of the repository, marked as "alpha", the source code there, also provided as a download is an old source code.

Therefore you need to create a new tag and release here https://github.com/ericlyon/pd-fftease/releases/ for a new release that corresponds to the source

[2021-02-06 14:06] porres commented on #36
here's the pack [fftease.zip](https://github.com/ericlyon/pd-fftease/files/5936940/fftease.zip)

@Lucarda , can you just include the readme.md file in your packages (so yu don't have to rebuild them)?

[2021-02-06 14:10] ericlyon commented on #36
There are a few different issues here. First, it looks like "Readme.md" is in the already installation, so I'm not sure why we need another copy of the Readme as a ".txt." Am I missing something?

Next, how do I make a new tag? Hit the "Draft a new release" button? If so, what should the new tag be called?

Finally, I tried the make command you suggested, and I'm not sure the resulting binaries ac

[2021-02-06 14:17] porres commented on #36
You had a readme.txt file that was getting copied in the installation via the makefile. But now you replaced it for a readme.md file, when in the makefile you still had "readme.txt" instead of the new "readme.md", so the nw "readme.md" file wasn't getting copied in the installation process, and since you don't have readme.txt anymore, when the makefile tried copying this file, nothing happened.

I

[2021-02-06 14:18] porres commented on #36
yes

the tag you have there now is 3.0.0-alpha, I guess 3.0.0 is alright now :) we can just consider this old one as "alpha"

[2021-02-06 14:28] porres commented on #36
you mean you're not sure they work? Cause if they come out as "d_fat", they're fat :)

I do get the same warnings, but I'm in Mojave, so I can test the builds on both Pd 32 or 64 bits. And they work on both, so I can assure at least my build is fat and good for both systems.

It is 64 bits AND 32 bits as well :) we can also provide a single 64 bits "pd_darwin" extension as well, but I don't think

[2021-02-06 14:34] ericlyon commented on #36
Maybe it's better for you to compile the macOS binaries in that case. I'm on Catalina, so I'm not sure my build will work for 32-bit. Still working on the new tag. Will hopefully have that up soon.

[2021-02-06 14:38] porres commented on #36
no problem, I can send my build, and I can also test yours just so we know ;)

[2021-02-06 14:39] porres commented on #36
just sent an email there

[2021-02-06 14:40] ericlyon commented on #36
Just created the new release tag.

[2021-02-06 14:44] porres commented on #36
here's my build you can upload there [fftease_macOS.zip](https://github.com/ericlyon/pd-fftease/files/5937004/fftease_macOS.zip)

I guess you'll need to delete the other ones from https://github.com/ericlyon/pd-fftease/releases/tag/v3.0.0-alpha now

and @Lucarda can send you new packages containing the readme.md file and all, then we're done for the release and I can also upload them to deken

[2021-02-06 14:49] ericlyon commented on #36
I just uploaded my own build to the new v3.0.0 tag. Could you please check these out, and see if the binaries work for 32-bit as well as 64-bit?

Is the idea to delete the v3.0.0-alpha tag entirely, or just remove the assets?

[2021-02-06 14:52] porres commented on #36
just remove the assets

[2021-02-06 14:58] ericlyon commented on #36
Done.

[2021-02-06 14:58] porres commented on #36
THEY WORK FOR BOTH!!!

BUT...... you just have the binaries in that zip, no help files and nothing else! It seems you didn't run the "make install" or something. Also, the folder uncompresses to a "pd-fftease-MacOS" folder. The one I provided above has it all and uncompresses to just "fftease". Now that we tested that externals built in catalina work for 32 bits, maybe you can just replace that as

[2021-02-06 15:00] ericlyon commented on #36
Excellent. I swapped in your build.

[2021-02-06 15:05] porres commented on #36
great, all we need now is the new packages by @Lucarda and we're done :)

[2021-02-06 15:57] porres commented on #36
so, I already took the liberty to upload the 3.0.0 version of fftease for macOS to deken. Here's a screenshot.

<img width="677" alt="Screen Shot 2021-02-06 at 12 56 03" src="https://user-images.githubusercontent.com/5360142/107123154-b2344180-687a-11eb-8624-3847d0a28f2c.png">

I can see @Lucarda has uploaded at some point 3.0 versions for linux and windows. I suggest we take those out to avoid co

[2021-02-06 16:08] ericlyon commented on #36
Great. Could you please also upload the macOS version?

[2021-02-06 16:11] porres commented on #36
I did upload the macOS version ;) that's the one, it's for both 32 and 64 bits.

just waiting for @Lucarda's builds for both windows/linux 32/64 to upload them too

oh, and I now uploaded the source code as well

<img width="671" alt="Screen Shot 2021-02-06 at 13 10 38" src="https://user-images.githubusercontent.com/5360142/107123523-bd886c80-687c-11eb-9886-caef0240b6d1.png">

[2021-02-06 16:14] ericlyon commented on #36
I can see it from Pd now. Nice.

[2021-02-06 19:49] ericlyon opened #42 "post 3.0.0 documentation"
The documentation is now far better than when we started. Ideally we'll get to a point where every method is documented in each help file. I've attached a prototype updated help file for bthresher~. Let me know what you think. One thing I don't like is that the dump outlet has output routed to the console. It would be very cool if that data could be automatically pushed into a list. The concept is

[2021-02-07 04:31] Lucarda commented on #36
@ericlyon the linux/windows builds (as of 06ebfb0) are [here](https://nc.nubegris.com.ar/index.php/s/ENq4d6xHZZQ893x)

I had uploaded the new linux/win packages to Deken and also removed the offending and old [v3.0] packages.

:)

[2021-02-07 04:50] porres commented on #36
I guess we can leave this as is and call it a release and announce it to the Pd list and all, just a couple of notes under scrutiny:

- the 3.0.0 tagged release (https://github.com/ericlyon/pd-fftease/releases/tag/3.0.0) is a commit behind https://github.com/ericlyon/pd-fftease/commit/06ebfb0432700ae7f66b8841abdd931cac415760 - let's just be careful to make builds that are 100% synced with the tags

[2021-02-07 04:56] ericlyon commented on #36
Nice catch. No idea what a lyonpotpourri file was doing there. Also, for post-release I opened up #42 to discuss further upgrades to the FFTease documentation.

[2021-02-07 05:14] porres commented on #36
ok

[2021-02-07 05:17] porres commented on #36
well, I guess the release is done and I can close this issue. It's nice if we also had binaries for raspberry pis, I'll ask a friend for that.

my last scrutinous hair splitting remark, just edit and rename the zipped files in https://github.com/ericlyon/pd-fftease/releases/tag/3.0.0 to remove "pd-" as the prefix, or add it to the macOS version. I vote for removing it. It'll still decompress to a

[2021-02-07 05:17] #36 closed

[2021-02-25 02:59] ericlyon opened #44 ""sound" directory not installed correctly?"
Previously the "sound" directory was a sub-directory of "fftease-helpfiles" and needed to be there in order for the Piano sample to load correctly in the pvgrain~ help file. It appears that this folder is not being installed where it should be. May need to manually restore the subdirectory to its previous location.

[2021-02-25 04:02] Lucarda commented on #44
It is installed correctly and https://github.com/ericlyon/pd-fftease/blob/master/fftease-helpfiles/pvgrain~-help.pd#L49 finds the file correctly. I think in your case you are running pvgrain~-help.pd from the "repository dir" but you should run from the "install dir".

You can build and install with:

`make PDLIBDIR=<path/you/want/for/the/install> install`

Then open _pvgrain~-help.pd_ from your i

[2021-02-25 04:05] ericlyon commented on #44
That explains it - thanks!

[2021-02-25 04:05] #44 closed

[2021-02-27 13:44] #42 closed

[2021-02-27 13:49] ericlyon opened #45 "time for a new release?"
I implemented several minor bug fixes since the last release. Some of the bugs previously prevented some of the help files from properly initializing. The help files are all updated, and are now generally more comprehensive than those in the Max/MSP version of FFTease. So, maybe it's time for a new release. Would that be version 3.0.1? Probably worth some testing first, to make sure I didn't accid

[2021-02-28 00:15] Lucarda commented on #45
There are two things I found on first test:

- taint~-help.pd and its init subpatch has the message "taint-scaleexp 0.2;" but this message is not received anywhere (I suspect it goes to the "scaling exponent" slider).

- Many of the help-patches' windows opens too far left or too much at the bottom of the screen.

I'd made PR #46 to fix these.

[2021-02-28 00:48] ericlyon commented on #45
Nice catch with taint~, thanks!

[2021-02-28 01:25] Lucarda commented on #45
Found a crasher for [pvgrain~] when opening/closing the patch with DSP off (Linux and Windows). Will try to get a back-trace with GDB.

[2021-02-28 01:30] ericlyon commented on #45
Is this a new crash for this use case?

[2021-02-28 01:38] ericlyon commented on #45
Crash confirmed for macOS as well.

[2021-02-28 01:48] ericlyon commented on #45
@Lucarda I think I found the bug. Please try again with the new version.

[2021-02-28 02:34] Lucarda commented on #45
Confirmed on Linux and Windows. The crash is gone.

:)

[2021-02-28 03:32] Lucarda commented on #45
I'll do more testing tomorrow to see if I found anything else so that 3.0.1 is ready.

[2021-02-28 17:28] porres commented on #45
sent a PR updating the icon patch, 3.0.1 sounds about right, just be sure to update this every where it's mentioned ;) (meta.pd / readme, etc)

[2021-02-28 17:29] porres commented on #45
will also ask a friend to provide raspberry pi binaries for 3.0.1

[2021-02-28 22:53] Lucarda commented on #45
Testing the "help-patches" the only thing that I discover (building current 91937c1 for Win-amd64) is a crasher on **shapee~**.
If I choose 50 for "shape-width" and I close the patch with DSP ON I get a crash.
It does not happen if I don`t change "shape-width".

[2021-02-28 23:15] ericlyon commented on #45
I can't reproduce this crash on macOS. Will investigate.

[2021-03-01 00:36] ericlyon commented on #45
@Lucarda - I have a guess of what might be causing the crash. Please try the new version of **shapee~** and let me know if the issue is solved.

[2021-03-01 00:52] Lucarda commented on #45
Cool, it got fixed.
Tested on Win/Linux amd64.

:)

[2021-03-01 00:54] ericlyon commented on #45
Outstanding. Thanks for confirming the fix!

[2021-03-01 01:00] Lucarda commented on #45
Looks like 3.0.1 is ready.

Do we upload to Deken?

[2021-03-01 01:04] ericlyon commented on #45
Sure. Do we have all the binaries we need? @porres mentioned getting binaries for raspberry pi.

[2021-03-01 01:07] Lucarda commented on #45
Ok I'll prepare win/linux  - i386/amd64 for this repo and for Deken.

[2021-03-01 01:13] ericlyon commented on #45
I just drafted a release for v3.0.1. Are you able to access it now (for uploading binaries), or do I have to publish it first?

[2021-03-01 01:18] Lucarda commented on #45
I can't access it (as is just drafted). Anyway the only who can upload the binaries is you (I give a link to them and you place them as we did in the past release).

Make the release so I build from that sources.

[2021-03-01 01:23] Lucarda commented on #45
I meant : publish it.
:)

[2021-03-01 01:29] porres commented on #45
I propose the inclusion of a changelog, it can be a very simple one, so we can know what improved in this new 3.0.1 release

as soon as we have a new tagged release in the repository I can help with the binaries

[2021-03-01 01:31] porres commented on #45
like add a CHANGELOG.txt file to the package, as an example, see https://github.com/porres/pd-cyclone/blob/master/documentation/extra_files/CHANGELOG.txt but it can be simpler than this

[2021-03-01 01:33] ericlyon commented on #45
A changelog is a great idea. I was thinking about that too.

[2021-03-01 01:34] ericlyon commented on #45
@Lucarda just published it as an alpha release.

[2021-03-01 01:36] Lucarda commented on #45
Cool. I'll start building.

[2021-03-01 02:06] Lucarda commented on #45
@ericlyon the binaries are [here](https://nc.nubegris.com.ar/index.php/s/gcPKSty9KFtALSM)

[2021-03-01 02:15] ericlyon commented on #45
Added to the alpha release, thanks!

[2021-03-01 02:24] Lucarda commented on #45
Ok. In a couple of hours I'll upload to Deken.

[2021-03-01 02:24] porres commented on #45
I didn't realize I forgot to make the pull request for my icon update after I commited the change in my repository :)

https://github.com/ericlyon/pd-fftease/pull/47

[2021-03-01 03:10] Lucarda commented on #45
Do we use the updated icon on the Deken release?

[2021-03-01 03:14] ericlyon commented on #45
That sounds like a good idea.

[2021-03-01 03:20] Lucarda commented on #45
Ok I'll do it for the win/linux versions.

[2021-03-01 03:20] ericlyon commented on #45
Maybe going forward, the icon should just say "FFTease" rather than include the version number.

[2021-03-01 03:59] Lucarda commented on #45
Linux and Windows versions for amd64 and i386 are up on Deken.

:)

[2021-03-01 04:05] ericlyon commented on #45
Thanks, @Lucarda! I just updated the macOS binaries in v3.0.1. Can you add those to Deken as well?

[2021-03-01 04:20] Lucarda commented on #45
Done. Please check installing it.

[2021-03-01 04:27] ericlyon commented on #45
That did not work correctly for me. Selecting [v3.0.1] installed the older 3.0 version.

[2021-03-01 04:31] Lucarda commented on #45
Oh, my bad. I used the wrong release. Please wait. :)

[2021-03-01 04:39] Lucarda commented on #45
Now? (you might need to restart Pd)

[2021-03-01 04:44] ericlyon commented on #45
Now we're good, thanks!

[2021-03-01 04:45] Lucarda commented on #45
:)

[2021-03-01 05:10] porres commented on #45
so we need a final version tag here (not an alpha) and make it paired with the deken release

and I think it's best when we have a final tagged release here and then, when we're certain it's the final one, we upload that exact one to deken

[2021-03-01 05:14] porres commented on #45
I think it's good to have that cleared out when you open the help file, but then, now that I think about it, you do have that information also printed in the terminal for every object and I wasn't considering it. I guess it's just that I also don't really like that information on the terminal as I think it ends up polluting a lot. If the object doesn't create, we do get an error, so I don't know w

[2021-03-01 05:26] ericlyon commented on #45
I see your point, and I'll think about it. I do like seeing the load message in the Pd window, maybe just because I'm used to it, and don't like seeing the version number in the help files.

[2021-03-01 05:47] ericlyon commented on #45
I just added a new v3.0.1 tag. I think it has the same binaries from the alpha, but it also has updates including the new icon, and also a CHANGELOG.txt that I just added to the distro.

[2021-03-01 06:02] Lucarda commented on #45
@ericlyon  did you add CHANGELOG.txt to the win/linux packages?
If yes this file should be included in the makefile.

As we (or rather me) are not in a hurry we can correctly update everything via:

1 - I'll make a PR for the makefile
2 - We do newer builds
3 - We upload to Deken

?

[2021-03-01 06:40] ericlyon commented on #45
For now it's just in the main distro. There's no rush, so maybe we can integrate the change log in the next release.

Thanks!

[2021-03-04 02:23] porres commented on #45
I see we have a oficial 3.0.1 release now => https://github.com/ericlyon/pd-fftease/releases/tag/v3.0.1

I'll ask my friend for raspberry pi binaries

I guess we need to reupload the other packages as well and close this issue then

[2021-03-04 02:26] porres commented on #45
by the way, I don't see https://github.com/ericlyon/pd-fftease/blob/master/CHANGELOG.txt provided in the download packages, but don't worry, we can fix this for 3.0.2

I guess you forgot to edit the makefile to also copy this file

[2021-03-04 02:41] ericlyon commented on #45
I still haven't even looked at the makefile :)

[2021-03-12 18:10] porres commented on #45
if you're busy, we can do it ;)

I'm up for that, so?

[2021-03-12 18:52] Lucarda commented on #45
I'm out for the weekend but I'm carrying a triple boot (win81/debian32/debian64) netbook. I'll be doing other stuff but I could have a break and compile (and dekenize).

Not sure if I can do extensive tests but I think that had been already done.

:)

[2021-03-12 19:06] ericlyon commented on #45
I just updated the Makefile to include CHANGELOG.txt, so we should be good to go.

Thanks,
Eric

[2021-03-12 20:36] Lucarda commented on #45
@porres is there a way to update the sources of the v3.0.1 release?

[2021-03-12 22:39] porres commented on #45
no, we need to delete the relase/tag and create a new release, then provide builds that match this exact repository's state ;)

[2021-03-12 22:40] ericlyon commented on #45
Maybe this would need to be for v3.0.2 then?

[2021-03-12 23:46] porres commented on #45
just for. changelog? Nah... we just update and the announce it

[2021-03-13 08:17] umlaeute commented on #45
Am 13. März 2021 00:46:56 MEZ schrieb porres ***@***.***>:

here I agree.

here I don't.
v3.0.1 has been tagged and released.
that was yesterday. don't try to change the past.

the next release (v3.0.2, v3.1.0, v4.0.0 or whatever it will be called) will contain a changelog.

mfg.igj.fjf
IOhannes

PS: yes you can technically remove tags. even I do this from time to time... but only if the tag was "

[2021-03-13 17:19] porres commented on #45
I'm just confused, I don't know if the 3.0.1 packages in deken are the same as in the 3.0.1 tag here.

If so, we can just forget about it and close this issue if we're not sure if we'll re upload with a changelog included or not.

Again, having a new 3.0.2 release just to say a changelog is included in the package seems overkill.

it was about 2 weeks ago now :)

[2021-03-19 20:24] porres commented on #45
Well, I guess we can close this, huh? Here's the raspberry pi binaries I promised, I also have the lyonpotpourri as well

upload them to github and deken please ;)
[fftease-3.0.1_arm.zip](https://github.com/ericlyon/pd-fftease/files/6173844/fftease-3.0.1_arm.zip)
[lyonpotpourri-3.0.0_arm.zip](https://github.com/ericlyon/pd-fftease/files/6173846/lyonpotpourri-3.0.0_arm.zip)

[2021-03-19 20:30] ericlyon commented on #45
Great, thanks! Updating now.

[2021-03-19 20:30] #45 closed

[2021-03-19 20:46] porres commented on #45
note you have 4 different binaries for arm/raspberry pi, I'm not sure we need them all actually, but I've been uploading these 4 versions for my libraries.

[2021-03-19 20:48] porres commented on #45
perhaps @umlaeute can helps us figure out a better way to package these as a single package for all (and save space in deken's server)

[2021-03-20 12:14] umlaeute commented on #45
use arch specific extensions for the externals: l_arm, l_amd64, l_i386, m_i386, m_amd64, d_fat
(either rename the files, or build them with the proper extension using pd-lib-builder's "extension".

its not very complicated...

[2021-03-31 16:12] porres opened #48 "make it double precision ready"
FFTease is also part of Pd-Ceammc, and it ships it also in double precision.  Same is true for lyonpotpourri by the way

We should also make this double precision ready here then, see https://github.com/uliss/pure-data/issues/127 for reference

and I'm pinging @uliss  so he can maybe help us with this process

[2021-03-31 16:48] ericlyon commented on #48
Could you please provide a bit more context or links about 64-bit Pd? My understanding was that even up to the present, Pd externals even in 64-bit Pd run as single precision. It looks that way with the Pd internals code, the last time I checked. But I could be wrong about that. So, what exactly is being proposed here? A complete double-precision fork?

BTW, I made both LyonPotpourri and FFTease d

[2021-03-31 19:32] porres commented on #48
no

Pd can be compiled already for double precision,  Pd-Ceammc is based on Vanilla 0.51-4, I think it just uses that to compil for double precision.

Now, I don't know what they did or do with fftease so it works on their distribution, they can tell us about it

but the general idea is that we just incorporate that and provide it here upstream.

It wouldn't be a fork, I guess we can make this wor

[2021-03-31 19:43] Lucarda commented on #48
I don't have time right now but this boils down to:

1 - compile Pd-Double

http://msp.ucsd.edu/Pd_documentation/x6.htm#s6.6

2 - compile the lib for and against a Pd-Double

https://github.com/pure-data/pd-lib-builder/blob/master/tips-tricks.md#building-double-precision-externals

I can try and test but later.

[2021-03-31 20:24] uliss commented on #48
there are two main float types in Pd: **t_float** and **t_sample**
if you define `-DPD_FLOATSIZE=64` compile flag this types became **double**

As I see the main reason for using double precision is the lack of integer type in Pd.
So if you are using `[tabread~]` you have float table index. This result that any table index value > 2^24+1 cannot be represented as float without error.

With SR=44100

[2021-03-31 20:33] Lucarda commented on #48
@ericlyon there has been work by @umlaeute to make Pd-Double possible. I'm not sure about [osc~]. Can't tell if that particular object was left for later improvement (is one of those _not really ready_ yet) or if the code that you are reading auto jumps to double with the pre-processor define.

[2021-03-31 20:35] ericlyon commented on #48
I believe that we are already using t_sample for all g_array access in LyonPotpourri and FFTease. If not, that's something that can be fixed quickly.

[2021-03-31 20:49] ericlyon commented on #48
I had another look at Miller's code. It seems that t_sample is used fairly often, but not always. Is it just a matter of replacing every t_float defined audio sample with a t_sample, or are there other complexities?

[2021-03-31 21:13] ericlyon commented on #48
Thinking about this a bit more - even if it's just a matter of replacing t_float with t_sample for any audio sample declarations, that's still a lot of work, so there's a question of how much gain there is. AFAIK, the current FFTease/LyonPotpourri codebase works fine with Pd whether compiled for 32-bit, or for 64-bit. But I could be wrong. If any of these externals are demonstrably broken on a 64-

[2021-04-01 01:02] porres commented on #48
yeah, we should probably wait til Pd is officially downloadable with double precision. Right now one can compile as such, but it's still experimental.

Nonetheless, it's nice to have a heads up as it's on the way.

What I'm concerned here is that FFTease is being distributed as part of PD-CEAMMC but it is now outdated (a new release of Pd-ceammc was made yesterday and it still doesn't carry the ne

[2021-04-01 03:37] Lucarda commented on #48
I had tested fftease-3.0.1 on a Debian10 live usb stick running Pd-0.51-4 Double and only came to trouble on **disarrain~help.pd**.

I just opened all help patches with DSP on. Not really moving any slider or listening to anything, just opening the patches.

I got this on the terminal giving some clue about [disarrain~] crashes.

![disarrain_](https://user-images.githubusercontent.com/25239522/113

[2021-04-01 03:38] ericlyon commented on #48
Thank you, @porres. That is interesting, but FFTease loads and runs correctly on canonical 64-bit compiled Pd. As a matter of policy, I think my projects need to stick to supporting canonical Pd, and not chase after forks that are not fully compatible with canonical Pd. That being said, the CEAMMC fork looks great, and I wish its creators every success. If they want to include FFTease and LyonPotp

[2021-04-01 03:42] ericlyon commented on #48
I could not reproduce this on macOS 64-bit Pd, though as we know Macs can be more lenient about memory errors. This looks it might be a bug, rather than a 32/64 bit issue. (Or maybe it's both...) Would you mind moving this to a separate issue for further diagnosis?

Thanks!

[2021-04-01 03:54] Lucarda opened #49 "[disarrain~] crashes when testing under Double-precision"
I came into this while testing fftease-3.0.1 for Pd-Double precision running on Debian Buster amd64.

Just opened the help patch several times (and several crashes) and the terminal gave me some clues:

![disarrain_](https://user-images.githubusercontent.com/25239522/113241230-9e0e2e80-9284-11eb-969c-bcd17d6e8070.png)

[2021-04-01 03:56] ericlyon commented on #49
Does this happen with the DACs off too?

[2021-04-01 04:06] Lucarda commented on #49
nope.

[2021-04-01 04:07] ericlyon commented on #49
Does the crash happen immediately when you turn on the DACs, after loading the helpfile with DACs off?

[2021-04-01 04:16] Lucarda commented on #49
Not immediately but after a couple of seconds some test. On other test I cant reproduce anymore. This time I start Pd, open the patch with dsp off and switch dsp on. <-- now I dont get the crash.

[2021-04-01 04:22] ericlyon commented on #49
Thanks. This seems like a memory bug. Are you able to produce the crash on 32-bit also, or only 64-bit Pd? To recap:

1) load disarrain~ with DACs off, then turn DACs on: no crashes
2) load disarrain~ with DACs on, after a while there might be a crash (or not)

Correct?

[2021-04-01 04:38] Lucarda commented on #49
I got it on Pd(64bit)(double-precision).
note: I think I never got into this while testing **single-precision** i386/amd64

load disarrain~ with DACs on, after a while there might be a crash (or not)
Correct?

Correct but now I can't get the crash again. :(

[2021-04-01 04:45] ericlyon commented on #49
OK very helpful. I see the bug now, and it is a memory issue. I also understand why it crashes on Pd-64 but not Pd-32. See if you can spot it too :)

I won't have time to fix it tonight, but maybe tomorrow. It should be an easy fix.

[2021-04-01 04:59] Lucarda commented on #49
Ok no trouble.

I could reproduce if:

- 1 - start Pd with dsp on
- 2 - open the help browser and go to externals/fftease
- 3 - open (for a couple of seconds) and close the help patches alphabetically
- 4 - when I open disarrain~help I get the crash.

PS: It seems that Fftease for Pd-Double is already made :)

[2021-04-01 05:41] Lucarda commented on #49
:) I rather say this line and the next one?

https://github.com/ericlyon/pd-fftease/blob/d31a1e428e18ea85e8e68cd696085059194807f0/disarrain~.c#L130

[2021-04-01 06:17] ericlyon commented on #49
I believe you found the bug :)

[2021-04-01 06:21] porres commented on #48
What I like about Pd-Ceammc is that it is in fact fully compatible to Pd Vanilla. It just offers two options, the single and the double precision. For the single precision version, it is  fully compatible and compliiant to the latest Pd Vanilla (0.51-4)! This means one can get FFTease direclty from deken inside Pd-Ceammc (cause it also has 'deken').

When I opened the issue on the Pd-ceammc reposi

[2021-04-01 06:21] #48 closed

[2021-04-01 06:23] porres commented on #48
Even though I closed this and can see it's not a priority, it's something on the horizon, and maybe you can continue discussing what's on the way... (maybe I should just repen this? what do you think?)

[2021-04-01 06:26] porres commented on #48
btw, for reference https://lists.puredata.info/pipermail/pd-list/2020-11/128513.html

[2021-04-01 06:38] Lucarda commented on #49
Yes. At least testing with my libpkgtester[1] the crash is gone.

You will find it very useful to go throw help patches.

[libpkgtester.zip](https://github.com/ericlyon/pd-fftease/files/6241487/libpkgtester.zip)

[1] a collection of 3 or 4 old externals into a single binary + a patch. You can compile it with `make install`.

:)

[2021-04-01 06:39] ericlyon commented on #48
Thanks for all the info. Let's keep this closed. Until we have a fully committed canonical 64-bit Pd, we're just guessing that we know what will be needed to make third party externals compliant.

[2021-04-01 06:40] ericlyon commented on #49
Cool, thanks!

[2021-04-01 09:35] umlaeute commented on #48
we do have a fully committed 64bit Pd.

what we miss is a released version of double-precision Pd (and this is what is important for this issue).

let's not confuse the both, they are unrelated.

[2021-04-01 13:06] ericlyon commented on #49
Code updated. Hopefully it's safe to close this issue.

[2021-04-01 13:06] #49 closed

[2021-04-01 13:08] ericlyon commented on #37
This might be worth fixing for v3.0.2. It would be helpful if anyone has a list of the objects that don't instantiate when missing arguments.

[2021-04-01 21:06] Lucarda commented on #37
Open the this patch an see the console.

[fftease-objects.zip](https://github.com/ericlyon/pd-fftease/files/6246486/fftease-objects.zip)

:)

[2021-04-01 21:08] ericlyon commented on #37
Tight code :)

[2021-04-01 21:16] porres commented on #37
resent~: must give duration argument
 fftease/resent~
... couldn't create
residency_buffer~: Must specify array name
 fftease/residency_buffer~
... couldn't create
residency~: must give duration argument
 fftease/residency~
... couldn't create
enrich~: Must specify array name
 fftease/enrich~
... couldn't create
pvwarpb~: Must specify array name
 fftease/pvwarpb~
... couldn't create
reanimator~: m

[2021-04-02 05:06] ericlyon commented on #37
Objects updated. Unless any new bugs are discovered resulting from this update, I'll close this issue in a few days.

[2021-04-02 05:44] Lucarda commented on #37
Tested on Linux and Windows and it all seems to work.

[2021-04-02 06:35] #37 closed

[2021-04-13 22:13] porres commented on #45
I see, that's I already do for mac so I can make the fat binaries for both 32/64 bits, like:

"make install objectsdir=../ extension=d_fat"

so, that's it, tight? We just replace "d_fat" for these others, oh, wait, there's a d_fat for linux too :)

well, I'm including @emviveros here, cause he was the one who compiled these for us!

I guess we need to be sure which extensions is which for the 4 ra

[2021-04-13 22:25] ericlyon commented on #45
I recently tested the current raspberry pi builds of FFTease and LyonPotpourri on an Organelle M. Works great. Pretty sure I used the armv6 package.

[2021-04-13 22:37] porres commented on #45
Ok, by checking the latest zexy in deken, I'm guessing the packages and extensions are:

Darwin-amd64 = .pd_darwin;
Linux-amd64-32 = .pd_linux;
Linux-arm64-32 = .l_arm64;
Linux-armv7-32 = .l_arm
Linux i386-32 = .l_i386
Windows-amd64-32 = .m_amd64
Windows-i386-32 = .dll

[2021-04-13 22:45] porres commented on #45
Now I get you put extensions not only for linux/arm, like d_fat for macOS and m_amd64 for windows, right?

@emviveros buils two packages that are not exemplified here:

pd-fftease-3.0.1_**armv6_Linux32**
pd-fftease-3.0.1_**armv8_Linux32**

we'd still need to figure out which they'd be

[2021-04-13 22:46] porres commented on #45
Nice, how did you do it? Does the organelle connect directly to deken? :)

[2021-04-13 22:47] ericlyon commented on #45
Their Pd is Read-only, so I had to upload the externals manually. No deken. It's a fun little box tho!

[2021-04-13 22:49] porres commented on #45
I can see you having a great joy running these externals there ;)

a good reason to have them here on the repository then :)

[2021-04-14 08:16] umlaeute commented on #45
there are no specific file extensions for the 32bit arm variants: all use `.l_arm` (or `.pd_linux` if you want).

`armv6` is required to run the external on the RPi Zero/RPi 1 (and the "compute module", but that's probably not important).
given that these platforms are typically very limited, i think it would make most sense to not combine packages for these architecture with other archs.

i'm not

[2021-04-14 15:02] ericlyon commented on #45
Both LyonPotpourri and FFTease compile on the Organelle with no problems. Although Pd is installed on a read-only partition on the Organelle, it can be remounted as rw, after which 3rd party externals can be installed as usual. Deken also works in rw mode.

[2021-04-14 17:09] porres commented on #45
Actually, @emviveros was telling me we should probably just forget about this architecture, he didn't say why, but you're basically saying the same, so I guess that solves it :)

Yeah, probably obscure enough to also forget about it...

I'm confused now, does this mean Raspbian is just for RPi Zero/1?

And the, @ericlyon  says he was running it on the organelle, and I bet that's not RPi 1!

Is the

[2021-04-14 17:29] emviveros commented on #45
"compute module" are not important since **RPizero variants are important**,  so armv6 should be disponible.

about armv8 usefullness, I have two points come to my mind:
1. two variants of armv8 I don't think anymore it's important and should be abandoned in favor of armv8 64bits (AARCH64).
2. in ELSE development we have feedback of armv7 binaries initialization failing in RPi4 platforms, reason f

[2021-04-14 17:30] emviveros commented on #45
My first annoying is how to name armv6, armv7 and armv8 binaries to create a unified deken package for arm compilations.

[2021-04-14 18:07] porres commented on #45
well, yeah, if we have just a package for raspbrry pis, then we can pack these 3 together, of course!!!

pd_linux was listed for Linux-amd64-32 (regular 64 bits Linux), so the problem would be to pack this with it as well - unless there's something else specfic for this architecture.

Anyway,  I guess it makes sense to pack the 3 pi versions together, then the 2 linux also together (32/64 bits), t

[2021-04-14 18:20] ericlyon commented on #45
@porres - else packages show up on Deken in Linux-armv6-32 format for the Organelle.

[2021-04-14 18:25] emviveros commented on #45
in that way, we don't will have problems choosing .pd_linux for armv6.

[2021-04-14 18:47] porres commented on #45
so i'm confused, is the organelle a rasp 1?

[2021-04-14 18:47] porres commented on #45
anyway, let's just have these 3 together and I guess there won't be any issues :)

[2021-04-14 18:59] ericlyon commented on #45
I'm told that it's a Raspberry Pi 3 module running their debian based distro.

[2021-04-14 19:40] umlaeute commented on #45
sigh.
i think this is the **totally wrong place** to discuss these matters.
it has very little to do with fftease, but instead is of general interest.
shouldn't we take this to the pd-dev list?

(i'm going to answer over there)